.container-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-container {
    width: 40%;
    margin: 2rem auto;
    padding: 1rem;
    background: #222;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #f2f2f2;
    margin-bottom: 1.5rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    color: #f2f2f2;
}

input,
textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
    border-color: #970000;
    outline: none;
}

textarea {
    resize: none;
    height: 150px;
}

.submit-button {
    background: #e91a1a;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit-button:hover {
    background: #b30707;
}

@media (max-width: 768px) {
    .contact-container {
        padding: 1rem;
    }

    input,
    textarea {
        font-size: 0.9rem;
    }

    .submit-button {
        font-size: 0.9rem;
    }
}
