.container-inicio {
  position: relative;
}

.video-overlay {
  position: relative;
}

.inicio-video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

.video-overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.mute-button {
  position: absolute;
  top: 90px;
  left: 20px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease;
}

.mute-button:hover {
  background: rgba(255, 0, 0, 0.8);
}

.info-inicio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.info-inicio h2 {
  font-size: 48px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.info-inicio p {
  font-size: 22px;
  line-height: 1.5;
}

.btn-ver {
  background-color: #ff0000;
  color: #fff;
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease, transform 0.2s ease;
}

.btn-ver:hover {
  background-color: #cc0000;
  transform: scale(1.05);
}

.timeline-section {
  padding: 40px 20px;
  background-color: #202020;
  color: #fff;
  text-align: center;
  background-image: url('https://images.kerrangcdn.com/images/BABYMETAL-2023-tour-video-header.png?auto=compress&fit=max&w=3840');
  background-size: cover;
  background-attachment: fixed;
}

.info-coso {
  background: rgba(255,255,255,0.05);
-webkit-backdrop-filter: blur(9px);
backdrop-filter: blur(9px);
border: 1px solid rgba(255,255,255,0.025);
width: 70%;
padding: 40px 0;
border-radius: 20px;
}

.timeline-section h1 {
  font-size: 28px;
  margin: 8px 0px;
  text-align: center;
}

.timeline-section h2 {
  font-size: 20px;
  color: #fff;
  margin: 0px 12px;
}

.timeline-section p {
  color: #fff;
  font-size: 18px;
}
.TitleWrapper-sc-13izrht-0 { 
  font-size: 30px;
  color: #fff;
}


.timeline-item {
  animation: fadeInUp 0.8s ease-in-out;
  transform-origin: bottom;
}

.scroll-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.scroll-top-button:hover {
  opacity: 1;
}


@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
