nav {
    background-color: #111;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 0.5s ease;
    z-index: 1000;
}

.nav-visible {
    transform: translateY(0);
}
  
.nav-hidden {
    transform: translateY(-100%);
}
.home-nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    width: 200px;
}

.items {
    display: flex;
    gap: 12px;
}

.items a {
    padding: 20px 2px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
